.chat-badge
    display: flex
    padding 10px
    margin-bottom 10px
    background #dfdfdf
    border-radius $border-radius

    .badge-icon
        margin-right 15px
        width 45px
        height 45px
        border-radius $border-radius

    .badge-content
        display: flex
        flex-direction: column
        justify-content: space-between

    .badge-message
        margin: 0
        font-size: 12px

    .badge-name
        display: block
        font-size: 14px