$border-radius = 6px

@import "../components/Input/input.styl"
@import "../components/Button/button.styl"
@import "../components/Avatar/avatar.styl"
@import "../components/ChatBadge/chatBadge.styl"
@import "../components/Message/message.styl"
@import "../components/PageError/pageError.styl"
@import "../components/Overlay/overlay.styl"
@import "../pages/chat/chatPage.styl"
@import "./block.styl"

*
  font-family Verdana, Geneva, Tahoma, sans-serif
  box-sizing border-box

html
body
  padding 0
  margin 0
