$border-radius = 6px

@require "../partials/Input/input.styl";
@require "../partials/Button/button.styl";
@require "../partials/Avatar/avatar.styl";
@require "../partials/ChatBadge/chatBadge.styl";
@require "../partials/Message/message.styl";
@require "../partials/PageError/pageError.styl";

@require "../pages/chat/chatPage.styl";

@require "./block.styl";

*
    font-family Verdana, Geneva, Tahoma, sans-serif
    box-sizing border-box

html, body
    padding 0
    margin 0
